__pycache__
atengine/__pycache__
atengine/ateditor.py
atengine/atwriter.py
atengine/atwriter-save.py
atengine/redirprint.py
atengine/test-rprint.py
atengine/researcher.py
atengine/test.py
chats/*
Atwood (copia).desktop
chatgpt.sh